<% layout("/layouts/boilerplate")%>
<body>
    <br>
    <div class="row">
        
        <div class="col-8 offset-2" >
    <h3>Give Your Details</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
        <label for="title" class="form-label">Title</label>
        <input name = "listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter a title.</div>
        </div>
        <div>
        <label for="description" class="form-label">Description</label>
        <textarea name = "listing[description]" placeholder="Enter Description" class="form-control" required></textarea>
        <div class="invalid-feedback">Please give the description.</div>
        </div>
        <div>
        <label for="image" class="form-label"> Upload Image </label>
      
        <input name = "listing[image]" placeholder="" type="file" class="form-control" required>
        <div class="invalid-feedback">Please enter valid URL.</div>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name = "listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
        <div class="invalid-feedback">Please enter valid Price.</div>
        </div>
        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name = "listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter Country.</div>
        </div>
        </div>
        <div>
        <label for="location" class="form-label">Location</label>
        <input name = "listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
        <div class="invalid-feedback">Please enter Location.</div>
        </div>
        <br>

        <button class="btn btnnn" style="border: 0.1px solid black;">ADD PLACE</button>


    </form>
    </div>
    </div>
</body>
<br>
